body {
  margin-bottom: 500px;
}

.exercise-13a {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
}

.exercise-13a__item1 {
  background-color: lightpink;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-13a__item1-text {
  color: white;
  background-color: black;
}

.exercise-13a__item2 {
  width: 200px;
  background-color: lightblue;
}

.exercise-13b {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.exercise-13b__col1 {
  background-color: lightpink;
  width: 100px;
}

.exercise-13b__col2 {
  background-color: lightblue;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.exercise-13b__col2__row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-13b__col2__row2__col1,
.exercise-13b__col2__row2__col2 {
  color: white;
  background-color: black;
}

span {
  margin: 0;
  padding: 0;
}

/* GMAIL STYLES */
.gmail-inbox {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 350px;
  font-family: Google Sans;
  padding: 4px 8px 20px 8px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.gmail-inbox__heading {
  font-size: 10px;
  color: gray;
  margin-bottom: 8px;
}

.gmail-inbox__email-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.gmail-inbox__email {
  display: flex;
  column-gap: 6px;
}

.gmail-inbox__email__sender {
  display: flex;
  align-items: center;
}

.gmail-inbox__email__sender-picture {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.gmail-inbox__email__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.gmail-inbox__email__sender-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gmail-inbox__email__sender-name {
  font-weight: bold;
  font-size: 16px;
}

.gmail-inbox__email__time {
  color: gray;
  font-size: 12px;
}

.gmail-inbox__email__content-subject {
  font-weight: bold;
  font-size: 14px;
}

.gmail-inbox__email__content-preview {
  font-size: 14px;
  color: gray;
}

/* Twitter */
.twitter {
  display: flex;
  flex-direction: row;
  font-family: Inter, Arial;
  column-gap: 12px;
  width: 400px;
  padding: 10px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.twitter__col1 {
  display: flex;
  align-items: top;
  padding-top: 4px;
}

.twitter__col1__profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

.twitter__col2 {
  display: flex;
  flex-direction: column;
}

.twitter__col2__row1 {
  font-weight: bold;
  font-size: 14px;
}

.usertag {
  font-weight: normal;
  color: gray;
  margin-left: 4px;
}

.twitter__col2__row2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.twitter__col2__row3 {
  display: flex;
  flex: 0 0 90px;
  border: 1px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
  column-gap: 10px;
}

.twitter__col2__row3__col1 {
  flex: 0 0 90px;
  background-color: lightgray;
}

.twitter__col2__row3__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 6px;
  padding-right: 10px;
}

.twitter__col2__row3__col2 p {
  margin: 0;
  font-size: 14px;
}

.link-url {
  color: rgb(73, 73, 73);
}